
{% extends 'base.html' %}

{% block title %}Skrypt{% endblock %}

{% block content %}

<br>
<hr>
    <h1>Tworzenie bazy danych</h1>
    <div>
        <h2>Uruchom Tworznie bazy danych</h2>
        <button onclick="uruchomTworzenie_Db()">Uruchom</button>
    </div>
    <div id="output">
        <h2>Wyjście Skryptu:</h2>
    </div>
    <hr><br>
    {% if dash_url %}
            <iframe src="{{ dash_url }}" style="width:100%; height:600px; border:0;"></iframe>
        {% else %}
            <p>Aplikacja wizualizacji danych jest niedostępna.</p>
        {% endif %}


    {% endblock %}