
{% extends 'base.html' %}

{% block title %}Skrypt{% endblock %}

{% block content %}



<div class="content">
    <h2 style="text-align: center;">Dokumentacja</h2>


<div class="section">
    <h2>Sekcja Skrypt</h2>
    <p>
        Otwierając aplikację, znajdujemy się na stronie <span class="code">Skrypt</span>. Rozpoczynamy działanie aplikacji poprzez
        podanie strony internetowej. Nasza aplikacja działa dla strony <a href="https://oscar.warpechow.ski/">https://oscar.warpechow.ski/</a>.
        Klikamy przycisk <span class="important">Uruchom Pobierz</span>. Po uruchomieniu, w oknie <span class="code">Wyjście skryptu</span> będziemy mieli informacje o postępach skryptu.
    </p>
</div>

<div class="section">
    <h3>Działanie Skryptu - <strong>ZbieranieDanych.py</strong></h3>
    <p>
        Skrypt ma za zadanie zebranie wszystkich lat ze strony głównej. Uruchamiana jest funkcja <span class="code">sonda</span>, która na podstawie biblioteki <span class="code">request</span> pobiera całą stronę. Zapisuje w folderze <span class="code">pliki</span> plik tekstowy <span class="code">linki</span>. Po zakończeniu działania tej funkcji i sprawdzeniu, czy plik został poprawnie zapisany,
        jeżeli nie, użytkownik jest powiadamiany, że plik nie istnieje i nie można przetworzyć linków.
    </p>
</div>

<div class="section">
    <h4>Tworzenie DataFrame i Listy Lat</h4>
    <p>
        Jeżeli plik jest poprawnie zapisany, to na podstawie tych danych jest tworzony DataFrame
         z latami i linkami. Funkcja <span class="code">DataFrameYearLink</span> tworzy plik <span class="code">"years_and_links.csv"</span> i na podstawie tego jest ukazany
          Rzut z DataFrame. Użytkownik w <span class="code">Wyjście Skryptu</span> ma szansę zobaczyć, jak ten plik wygląda.
           Na podstawie tych danych tworzona jest lista lat, aby w dalszej części algorytm wiedział
           jakie strony trzeba pobrać dla jakich lat. </p>
</div>

<div class="section">
    <h4>Eliminacja Duplikatów i Zabezpieczenie Danych</h4>
    <p>
        Dodatkowo algorytm sprawdza, jakie pliki zostały już zapisane w folderze
         <span class="code">pliki</span>.
         Ma to na celu stworzenie listy brakujących lat.
         Celem tego jest eliminacja duplikacji i zabezpieczenie przed utratą danych.
         Skrypt informuje użytkownika, jakie lata do tej pory zostały przetworzone i jaka jest lista lat do pobrania.
    </p>
</div>

<div class="section">
    <h4>Pętla Pobierania Danych i Weryfikacje</h4>
    <p>
        Następnym etapem jest pętla, która ma za zadanie pobrać wszystkie dane.
         W pętli występują zabezpieczenia i weryfikacje. Czyli jeżeli dostaniemy bana
          lub blokadę, wtedy czas kolejnego zapytania się nam wydłuża.
          Jeżeli pobraliśmy dane, to musimy zweryfikować, czy dane, które pobieramy,
           są poprawne. Dodatkowo mamy wgląd w te dane, aby móc sprawdzić, jak działa
            nasz skrypt.
    </p>
</div>

<div class="section">
    <h3>Obsługa Błędów i Zakończenie</h3>
    <p>
        Błędne dane, które zostały pobrane, zapisywane są w folderze
        <span class="code">bledy/bledne{rok}.txt</span>. Użytkownik może sprawdzić
        i zweryfikować, jaki był powód błędu i odzrzucenie danego pliku.
        Jeżeli pełna lista lat jest pobrana, to wtedy skrypt informuje nas i
        kończy działanie.
    </p>
</div>


<div class="section">
    <h3>Sprawdzenie Poprawności Pobranych Danych</h3>
    <p>
        Kolejnym krokiem w tej sekcji jest sprawdzenie danych. Kod weryfikuje, czy pobrane dane są poprawne.
        Takie zabezpieczenie, choć wprowadzone już w sekcji zbierania danych, jest powtarzane tutaj ponownie, aby zapewnić
        stuprocentową pewność co do zgodności informacji.
    </p>
    <p>
        Jeżeli okaże się, że dane są błędne, tworzony jest plik <span class="code">remove.txt</span>, w którym zapisywane są
        nazwy plików zawierających nieprawidłowe dane. Celem tego jest umożliwienie ich usunięcia i ponownego
        uruchomienia sekcji <span class="code" style="font-size:large; color: #0911e3;">Uruchom Pobierz</span>.
        Wówczas skrypt ponownie pobierze dane dla danego roku, który trafił do foldeur bledy i został usunęty.
    </p>
</div>



<div class="section">
    <h3>Uruchomienie Skryptu Transformacja danych - <strong>CzyszczenieDanych.py</strong></h3>

    <p>
        Ostatnim elementem w zakładce Skrypt jest uruchomienie skryptu <span class="code">Transformacja danych</span>.
        Skrypt, na podstawie zebranych danych z pliku <span class="code">years_and_links.csv</span>, pobiera listę lat, dla których dane zostały pobrane.
        Następnie tworzona jest pętla, która iteruje po tych latach, określając, które pliki wymagają przetworzenia.
        Dane z każdego roku są pobierane z plików w formacie <span class="code">dane&lt;rok&gt;.txt</span>, znajdujących się w folderze "pliki".
        Algorytm <span class="code">extract_winner</span>, zdefiniowany w pliku <span class="code">funkcje.py</span>, przetwarza dane z każdego roku.
        Algorytm ten, oparty na przeprowadzonych badaniach i analizach, identyfikuje zwycięzców w kategoriach:
        <span class="code" style="color:red;">'HONORARY AWARD', 'SPECIAL AWARD', 'SPECIAL FOREIGN LANGUAGE FILM AWARD', 'AWARD OF COMMENDATION', 'IRVING G. THALBERG MEMORIAL AWARD'.</span>
        W tych kategoriach w niektórych latach występuje więcej niż jeden zwycięzca, co wymaga specjalnej logiki przetwarzania.
        Dlatego zastosowano filtrację i transformację danych za pomocą <span class="code">soup.find_all('div', class_='category-section')</span>.
        Dla pozostałych kategorii zwycięzców stosowane jest pojedyncze wyszukiwanie: <span class="code">winner_element = category_section.find('div', class_='winner')</span>.
        Po przetworzeniu danych zwycięzców, DataFrame jest łączony z głównym DataFrame.
        Następnie tworzony jest DataFrame dla nominowanych aktorów za pomocą funkcji <span class="code">extract_nominee</span>.
        Funkcja ta została rozbudowana, aby obsłużyć błędy, które występowały podczas prób pobierania danych.
        W szczególności, dla kategorii ACTOR pobierane były dane ze wszystkich kategorii, co zostało naprawione poprzez sprawdzenie różnic między kategorią ACTOR a pozostałymi kategoriami.
        Dzięki temu uzyskujemy tylko nominowane osoby dla kategorii ACTOR.
        Zidentyfikowane osoby są dodawane do listy aktorów, a liczba słów ACTOR jest dodawana do listy kategorii.
        Wynikiem jest poprawna lista kategorii i nominowanych osób.
        Dane są zapisywane w pliku <span class="code">Finaldf.csv</span>.
    </p>
</div>

<div class="section">
    <h3>Czyszczenie Danych i Tworzenie Dodatkowych Rekordów</h2>
    <p>
        W następnej części skryptu specjalne kategorie są oddzielane od pozostałych.
        Ta część zajmuje się czyszczeniem danych z dodatkowych słów i tworzeniem dodatkowych rekordów dla osób przypisanych do danego filmu (gdy występuje więcej niż jedna osoba).
        Każda osoba, wymieniona po przecinku, spójniku "i" lub innym spójniku, jest oddzielana i tworzony jest nowy rekord z danymi tej osoby.
        Celem jest zapewnienie, że każda osoba ma swój własny rekord z przypisanym filmem.

    Dla pozostałych kategorii zastosowano następujące funkcje: <span class="code">weryfikuj_i_rozdziel_osoby</span>, <span class="code">czyszczenie_and</span>, <span class="code">usuwanie_dodatkowych_slow</span>, <span class="code">czyszczenie_at</span>, <span class="code">usun_nawiasy_w_miejscu</span>, <span class="code">usun_wszystkie_biale_znaki</span>.
    Celem tych algorytmów było oczyszczenie danych i przypisanie każdej osoby do odpowiedniego filmu.
    Po transformacji danych tworzona jest lista aktorów.
    Następnie dane te są weryfikowane przez algorytm <span class="code">znajdz_prawie_podobne</span>, którego zadaniem jest znalezienie osób o podobnych imionach i nazwiskach.
    Ustawiono próg podobieństwa na 90%.
    Jeśli takie podobieństwo występuje, dane osób są dodawane do krotki (tuple).
    Dzieje się tak, ponieważ następny algorytm, <span class="code">sugestia_zamiany</span>, weryfikuje i ustala, która nazwa jest poprawna.
    Algorytm analizuje, które imię i nazwisko występuje najczęściej, i zastępuje rzadsze wystąpienia tym częstszym.
    Jeśli w jednym rekordzie występuje imię i nazwisko, a w innym rekordzie to samo imię i nazwisko, ale z dodatkowym skrótem drugiego imienia, następuje ujednolicenie.
    Takie podejście zostało zastosowane i zweryfikowane pod kątem poprawności.
    Testy wykazały, że jest ono słuszne, ponieważ nie zauważono błędów podczas wizualizacji danych.
    Następnie, za pomocą funkcji <span class="code">zamiana</span>, dane w kolumnie "aktor" są aktualizowane.
    Funkcja <span class="code">special_award</span> przetwarza dane z kategorii specjalnych.
    Wprowadzono ten podział ze względu na specyfikę danych w tej kategorii.
    W kolumnie "film" zachowywane są oryginalne wartości.
    Jeśli na przykład <span style="font-weight: bold; color: #007bff;">Walt Disney</span> otrzymał nagrodę specjalną, np. za "<span style="font-style: italic; color: #d9534f;">Myszkę Miki</span>",
    cały opis znajduje się w kolumnie "film", ponieważ na stronie źródłowej nie podano tytułu filmu. Chciałem zachować pełne informacje, za co dana osoba otrzymała wyróżnienie.
    Na końcu oba DataFrame są łączone i tworzony jest plik <span class="code">CleanData.csv</span>, który staje się głównym źródłem danych do wizualizacji i
    źródłem dla bazy danych SQLite.
    Dodatkowo, dane te są zapisywane w formacie JSON, który jest ustrukturyzowanym formatem tekstowym, idealnym do wymiany danych między aplikacjami.
    Format JSON pozwala na reprezentację danych w postaci par klucz-wartość oraz list, co ułatwia ich odczyt i przetwarzanie.
</div>



<div class="section">
    <h2>Tworzenie bazy danych.</h2>
    <p>
        Cały proces jest realizowany przez skrypt <span class="code">TworzenieDB.py</span>.
        W celu przechowywania i przetwarzania danych o nagrodach filmowych tworzona jest baza danych SQLite.
    </p>
</div>
    <div class="section">
        <h5>Cel skryptu</h5>
        <p>
            Skrypt <code>TworzenieDB.py</code> służy do tworzenia i wypełniania bazy danych SQLite danymi z pliku CSV.
            Baza danych jest tworzona od zera, a istniejąca baza jest usuwana, jeśli istnieje.
            Po utworzeniu i wypełnieniu bazy danych, skrypt wysyła powiadomienie do serwera SocketIO o zakończeniu procesu.
        </p>
    </div>

    <div class="section">
        <h5>Funkcje</h5>
        <ul>
            <li>
                <h5><code>create_database(db_file)</code></h5>
                <p>
                    Funkcja ta tworzy bazę danych SQLite o nazwie <code>db_file</code>.
                    Jeśli baza danych o tej nazwie już istnieje, jest usuwana.
                    Następnie tworzone są cztery tabele: <code>kategorie</code>, <code>aktorzy</code>, <code>typy_nagrod</code> i <code>nagrody</code>.
                    Tabele te są tworzone z odpowiednimi kolumnami i kluczami obcymi, aby zachować relacje między danymi.
                </p>
            </li>
            <li>
                <h5><code>populate_database(db_file, csv_file)</code></h5>
                <p>
                    Funkcja ta wczytuje dane z pliku CSV <code>csv_file</code> i wypełnia nimi utworzoną bazę danych.
                    Dane z pliku CSV są przetwarzane wiersz po wierszu.
                    Dla każdej kategorii, aktora i typu nagrody, funkcja sprawdza, czy dany rekord już istnieje w odpowiedniej tabeli.
                    Jeśli rekord nie istnieje, jest dodawany.
                    Następnie, rekord nagrody jest dodawany do tabeli <code>nagrody</code>, zawierający odniesienia do odpowiednich kategorii, aktorów i typów nagród.
                </p>
            </li>
            <li>
                <h5><code>notify_db_created()</code></h5>
                <p>
                    Funkcja ta łączy się z serwerem SocketIO na adresie <code>http://localhost:5000</code> i wysyła powiadomienie o nazwie <code>db_created</code>.
                    Powiadomienie to informuje serwer o zakończeniu procesu tworzenia i wypełniania bazy danych.
                    W przypadku wystąpienia błędów podczas łączenia z serwerem SocketIO, błąd jest wypisywany na konsolę.
                </p>
            </li>
        </ul>
    </div>


    <div class="section">
        <h5>Efekt końcowy: Baza danych DbOksary.db</h5>
        <p>
            Finalnym rezultatem działania skryptu jest utworzenie bazy danych <span class="code">DbOksary.db</span>.
            Dzięki wykorzystaniu biblioteki Dash, użytkownik ma możliwość interaktywnego przeglądania danych bezpośrednio w aplikacji.
            Aplikacja Dash udostępnia interfejs z filtrowaniem danych w pięciu kolumnach, co ułatwia eksplorację i weryfikację.
        </p>
        <p>
            Niemniej jednak, do zaawansowanej analizy danych i wykonywania złożonych zapytań SQL, zalecane jest użycie dedykowanych narzędzi, takich jak DBeaver,
            lub bezpośrednie wykonywanie zapytań za pomocą biblioteki <span class="code">sqlite3</span> w Pythonie.
            Te metody oferują większą elastyczność i kontrolę nad danymi.
        </p>
        <p>
            Aktualnie napotykam <span style="font-weight: bold; color: #c60b0b;">problem</span> z dynamicznym odświeżaniem danych w aplikacji Dash po utworzeniu bazy danych.
            Aplikacja Flask nie aktualizuje widoku danych w Dash automatycznie.
            Pracuję nad rozwiązaniem tego <span style="font-weight: bold; color: #c60b0b;">problemu</span>. Obejscie problemu jest <span style="font-weight: bold; color: #c60b0b;">wyłączenie</span> i <span style="font-weight: bold; color: #0911e3;">włączenie</span> aplikacji po stworzeniu bazy danych. Wtedy aplikacja Dash działa poprawnie
            i mamy dostep do danych w panelu.
        </p>
    </div>

    <div class="section">
        <h3>Podsumowanie bazy danych</h3>
        <p>
            Skrypt <code>TworzenieDB.py</code> automatyzuje proces tworzenia i wypełniania bazy danych SQLite danymi z pliku CSV.
            Umożliwia to szybkie i efektywne przetwarzanie danych oraz ich przechowywanie w ustrukturyzowanej formie, gotowej do dalszej analizy lub wizualizacji.
        </p>
        <p>
            Stworzona baza danych charakteryzuje się <strong>znormalizowanym schematem relacyjnym</strong>. Taka struktura została celowo zastosowana z kilku kluczowych powodów:
        </p>
        <ul>
            <li>
                <strong>Minimalizacja redundancji danych:</strong> Poprzez podział informacji na odrębne, powiązane tabele (takie jak kategorie, aktorzy, typy_nagrod, nagrody), unikamy powtarzania tych samych danych w wielu miejscach. Na przykład, imię i nazwisko aktora przechowywane jest tylko raz w tabeli aktorzy, a w tabeli nagrody odwołujemy się do niego za pomocą unikalnego identyfikatora (id_aktora). Zmniejsza to rozmiar bazy danych i ułatwia aktualizację informacji.
            </li>
            <li>
                <strong>Poprawa integralności danych:</strong> Relacje między tabelami są wymuszane za pomocą kluczy obcych (FOREIGN KEY). Dzięki temu zapewniamy spójność danych i unikamy sytuacji, w których np. nagroda mogłaby zostać przypisana do nieistniejącej kategorii lub aktora. Integralność referencyjna gwarantuje, że powiązania między danymi są zawsze poprawne.
            </li>
            <li>
                <strong>Ułatwienie zarządzania i utrzymania:</strong> Znormalizowana struktura ułatwia modyfikowanie schematu bazy danych, dodawanie nowych typów danych czy aktualizowanie istniejących bez ryzyka wprowadzania niespójności w wielu miejscach. Każda tabela reprezentuje konkretną encję, co czyni model bardziej przejrzystym i łatwiejszym do zrozumienia.
            </li>
            <li>
                <strong>Optymalizacja pod kątem operacji transakcyjnych (OLTP):</strong> Schemat relacyjny jest dobrze przystosowany do obsługi operacji transakcyjnych, takich jak wstawianie nowych rekordów (np. przyznanie nowej nagrody), wyszukiwanie konkretnych informacji (np. dane aktora o danym ID) czy aktualizowanie istniejących danych. Szybki dostęp do konkretnych rekordów jest kluczowy w systemach operacyjnych.
            </li>
        </ul>
        <p>
            Podsumowując, zastosowanie znormalizowanego schematu relacyjnego zapewnia efektywne przechowywanie danych, ich spójność oraz ułatwia zarządzanie bazą danych w długoterminowej perspektywie.
        </p>
    </div>


    <div class="section">
        <h2>Wizualizacja Danych</h2>
        <p>
            W zakładce "Wizualizacja" użytkownik ma dostęp do interaktywnych i statycznych wykresów, prezentujących różne aspekty danych o nagrodach filmowych.
        </p>
    </div>

    <div class="section">
        <h3>Dynamiczny Wykres Zwycięstw Aktorskich</h3>
        <p>
            Pierwszy wykres, zaimplementowany w aplikacji Dash, prezentuje liczbę zwycięstw w kategoriach aktorskich pierwszoplanowych (męskich i żeńskich).
            Użytkownik ma możliwość interaktywnej analizy danych poprzez przesuwanie wskaźnika, co umożliwia dynamiczne filtrowanie i eksplorację danych.
            Szczególnie interesujący jest panel umożliwiający zmianę zakresu liczby otrzymanych Oscarów, co pozwala na identyfikację aktorów z największą liczbą nagród w tych kategoriach.

        </p>
    </div>

    <div class="section">
        <h3>Statystyczny Wykres Nominacji i Oscarów</h3>
        <p>
            Drugi wykres, statyczny, stworzony przez autora aplikacji, przedstawia liczbę nominacji i zdobytych Oscarów przez aktorów w kategoriach pierwszoplanowych.
            W celu poprawy czytelności, na wykresie nałożono punkty: zielone reprezentują Oscary, a czarne – nominacje.
            Ta wizualizacja umożliwia łatwe zidentyfikowanie okresów aktywności zawodowej aktorów oraz momentów otrzymywania nominacji i nagród.
        </p>
    </div>

    <div class="section">
        <h3>Statystyczny Wykres Oscarów dla Filmów</h3>
        <p>
            Kolejny wykres, również statyczny, przedstawia liczbę Oscarów zdobytych przez filmy z największą liczbą nagród.
            Można zauważyć, że jest bardzo ciężko  jednemu tytułowi powtórzyć znakomity wynik na przestrzeni lat, co podkreśla wyjątkowość każdego z tych osiągnięć.
        </p>
    </div>

    <div class="section">
        <h3>Mapa Świata Oscarów Filmów Obcojęzycznych</h3>
        <p>
            Czwarty wykres to interaktywna mapa świata, prezentująca liczbę Oscarów przyznanych filmom obcojęzycznym z różnych krajów.
            Każdy kraj jest oznaczony kolorem odpowiadającym barwom narodowym, a po najechaniu kursorem wyświetlana jest dokładna liczba Oscarów.
            Mapa oferuje wysoką szczegółowość, pozwalając na dokładne przyjrzenie się globalnej dystrybucji nagród, z zaznaczonymi ulicami i innymi detalami.
        </p>
    </div>

    <div class="section">
        <h3>Wszystkie kategorie i zwycięscy</h3>
        <p>
            Ostatni wykres przedstawia osoby z największą liczbą zdobytych Oscarów.
            Użytkownik ma możliwość filtrowania danych według wybranych kategorii, co pozwala na dostosowanie wizualizacji do indywidualnych potrzeb.
            W przypadku wyboru kilku kategorii, ich nazwy są wyświetlane w tytule pod wykresem, co ułatwia interpretację danych.
        </p>
    </div>

    <div class="section">
        <h2>Statystyki i Analizy</h2>
        <p>
            W tej sekcji prezentowana jest analiza statystyczna aktorów i aktorek, którzy otrzymali co najmniej dwa Oscary za role pierwszo- i drugoplanowe.
            Znajduje się tutaj dynamiczny panel (dashboard), który przedstawia statystyczne dane dotyczące aktywności wspomnianych artystów.
            Uruchomienie skryptu Statysyka umożliwi zapoznanie się ze statystykami całego zbioru danych.
        </p>
    </div>
    <div class="section">
        <h5>Uruchom Testy</h5>
        <p>
            Również w tej sekcji przeprowadzanych jest 5 testów, które weryfikują poprawność danych między plikiem <span class="code">CleanData.csv</span> a <span class="code">bazą danych</span>.
        </p>
    </div>


    {% endblock %}

</div>