{% extends 'base.html' %}

{% block title %}Skrypt{% endblock %}

{% block content %}

    <div class="content">
        <div>
            <h2>Uruchom Zbieraj Dane</h2>
            <label class="col-sm-4 col-form-label" for="urlInput">URL:</label>
            <input id="urlInput" class="form-control form-control-sm" type="text" placeholder="https://oscar.warpechow.ski/" aria-label="https://oscar.warpechow.ski/ example" required>
            <button id="startButton" onclick="zbierajDane()">Uruchom</button>
        </div>
        <br>

        <div>

            <h2>Uruchom Check Data</h2>
            <button onclick="uruchomCheck_Data()">Uruchom</button>
        </div>

        <br>
        <div>
            <h2>Uruchom Czyszczenie Danych</h2>
            <button onclick="uruchomClear_Data()">Uruchom</button>
        </div>

        <div id="output">
            <h2>Wyjście Skryptu:</h2>
        </div>
    </div>



    {% endblock %}