{% extends 'base.html' %}

{% block title %}Skrypt{% endblock %}

{% block content %}

    <div class="content">
        <div>
            <h2 style="text-align: center;">Pobranie Danych</h2>
            <p class="section" >Zapraszam do uruchomienia poniższych skryptów w tej skecji.
                Pierwsza grupa skryptów umożliwi pobranie danych ze wskazanej strony internetowej.
                Następnie, poprzez uruchomienie skryptów weryfikujących,
                zostanie przeprowadzona kontrola poprawności pobranych danych. Po zakończeniu tej fazy,
                uruchomienie skryptów  "Transformacja danych" zainicjuje proces przygotowania
                danych do ich późniejszego załadowania do bazy danych oraz wizualizacji.
                Wszelkie szczegóły w sekcji <a href="{{ url_for('dokumentacja_page') }}">Dokumentacja</a>.</p>

                <div class="section">
                    <p class="note">Uwaga: Jeżeli po kliknięciu wyjście skryptu się nie odświeży, proszę odświeżyć stronę.</p>
                </div>

                <div class="section">
                    <h2 class="section-title">Kroki do Aplikacji</h2>
                    <ol>
                        <li class="instruction">Uruchom: Pobierz</li>
                        <li class="instruction">Uruchom: Weryfikacja</li>
                        <li class="instruction">Uruchom: Transformacja</li>
                    </ol>
                </div>

                <div class="section">
                    <h2 class="section-title">Sekcja Baza Danych</h2>
                    <p class="instruction">Kliknij: Uruchom</p>
                </div>

                <div class="section">
                    <h2 class="section-title">Wizualizacja</h2>
                    <p class="instruction">Uruchom tworzenie wykresu</p>
                    <p class="instruction">Uruchom - stworzenie statycznych wykresów</p>
                    <p class="instruction">Wykresy dynamiczne w Dash zostaną utworzone automatycznie po wizualizacji bazy danych.</p>
                </div>

                <div class="section">
                    <h2 class="section-title">Statystyki i Testy</h2>
                    <p class="instruction">Statystyki i testy będą działać, gdy plik <span style="font-family: monospace;">CleanData.csv</span> zostanie utworzony.</p>
                </div>





            <label class="col-sm-4 col-form-label" for="urlInput">URL:</label>
            <input id="urlInput" class="form-control form-control-sm" type="text" placeholder="https://oscar.warpechow.ski/" aria-label="https://oscar.warpechow.ski/ example" required>
            <button id="startButton" onclick="zbierajDane()">Uruchom Pobierz</button>
        </div>
        <br>

        <div>

            <h2>Weryfikacje Danych</h2>
            <button onclick="uruchomCheck_Data()">Uruchom Weryfikacje</button>
        </div>

        <br>
        <div>
            <h2>Transformacja danych</h2>
            <button onclick="uruchomClear_Data()">Uruchom Transformacje</button>
        </div>

        <div id="output">
            <h2>Wyjście Skryptu:</h2>
        </div>
    </div>



    {% endblock %}