{% extends 'base.html' %}

{% block title %}Skrypt{% endblock %}

{% block content %}

    <div class="content">
        <div>
            <h2>Uruchom Zbieraj Dane</h2>
            <label for="urlInput">URL:</label>
            <input type="text" id="urlInput" name="url" required>
            <button onclick="zbierajDane()">Uruchom</button>
        </div>
        <br><hr>

        <div>
            <h2>Uruchom Check Data</h2>
            <button onclick="uruchomCheck_Data()">Uruchom</button>
        </div>

        <br><hr>
        <div>
            <h2>Uruchom Czyszczenie Danych</h2>
            <button onclick="uruchomCheck_Data()">Uruchom</button>
        </div>

        <div id="output">
            <h2>Wyjście Skryptu:</h2>
        </div>
    </div>

    {% endblock %}